In [ ]:
import pandas as pd
import numpy as np
import scipy as sp
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [ ]:
df= pd.read_csv("/content/sample_data/CPU_INFO.csv")

In [ ]:
df.describe()

           20986731          1053  ...           1.1           0.4
count  2.667900e+04  26679.000000  ...  26679.000000  26679.000000
mean   2.099997e+07    491.364819  ...      0.689494      0.642678
std    7.701715e+03    589.954617  ...      0.462710      0.479220
min    2.098663e+07      1.000000  ...      0.000000      0.000000
25%    2.099330e+07     34.000000  ...      0.000000      0.000000
50%    2.099997e+07    133.000000  ...      1.000000      1.000000
75%    2.100664e+07   1026.000000  ...      1.000000      1.000000
max    2.101330e+07   2123.000000  ...      1.000000      1.000000

[8 rows x 10 columns]

In [ ]:
df["0.4"].unique()

array([0, 1])

In [ ]:
df.groupby("0.4")["0.4"].count()

0.4
0     9533
1    17146
Name: 0.4, dtype: int64

In [ ]:
df["0.4"].value_count()

AttributeError: ignored

In [ ]:
df.shape

(26679, 10)

In [ ]:
df.columns

Index(['20986731', '1053', '1', '0', '0.1', '0.01', '0.2', '0.3', '1.1',
       '0.4'],
      dtype='object')

In [ ]:
Y = df.iloc[:,9]

In [ ]:
Y.shape

(26679,)

In [ ]:
type(Y)

pandas.core.frame.DataFrame

In [ ]:
Y=pd.DataFrame(Y)

In [ ]:
df.info

<bound method DataFrame.info of        20986731  1053  1    0  0.1  0.01   0.2  0.3  1.1  0.4
0      20986730  1051  1  0.0  0.0   0.0  0.00  0.0    1    0
1      20986664    54  2  0.0  0.0   0.0  0.00  0.0    1    0
2      20986737  1177  1  0.0  0.0   0.0  0.04  0.0    1    0
3      20986739  1174  1  0.0  0.0   0.0  0.00  0.0    0    0
4      20986639    27  2  0.0  0.0   0.0  0.00  0.0    1    0
...         ...   ... ..  ...  ...   ...   ...  ...  ...  ...
26674  21013223    55  2  0.0  0.0   0.0  0.00  0.0    1    1
26675  21013254    35  2  0.0  0.0   0.0  0.00  0.0    1    1
26676  21013278    10  2  0.0  0.0   0.0  0.00  0.0    0    1
26677  21013277    11  2  0.0  0.0   0.0  0.00  0.0    1    1
26678  21013201    20  2  0.0  0.0   0.0  0.00  0.0    1    1

[26679 rows x 10 columns]>

In [ ]:
df.head

<bound method NDFrame.head of        20986731  1053  1    0  0.1  0.01   0.2  0.3  1.1  0.4
0      20986730  1051  1  0.0  0.0   0.0  0.00  0.0    1    0
1      20986664    54  2  0.0  0.0   0.0  0.00  0.0    1    0
2      20986737  1177  1  0.0  0.0   0.0  0.04  0.0    1    0
3      20986739  1174  1  0.0  0.0   0.0  0.00  0.0    0    0
4      20986639    27  2  0.0  0.0   0.0  0.00  0.0    1    0
...         ...   ... ..  ...  ...   ...   ...  ...  ...  ...
26674  21013223    55  2  0.0  0.0   0.0  0.00  0.0    1    1
26675  21013254    35  2  0.0  0.0   0.0  0.00  0.0    1    1
26676  21013278    10  2  0.0  0.0   0.0  0.00  0.0    0    1
26677  21013277    11  2  0.0  0.0   0.0  0.00  0.0    1    1
26678  21013201    20  2  0.0  0.0   0.0  0.00  0.0    1    1

[26679 rows x 10 columns]>

In [ ]:
import numpy
dataset = numpy.loadtxt("/content/sample_data/CPU_INFO.csv", delimiter=",")
dataset.info()

AttributeError: ignored